[submodule "lark-to-markdown"]
	path = lark-to-markdown
	url = https://github.com/mengjian-github/lark-to-markdown.git
[submodule "mengjian-github"]
	path = mengjian-github
	url = https://github.com/mengjian-github/mengjian-github.git
[submodule "mcp-cn"]
	path = mcp-cn
	url = https://github.com/mengjian-github/mcp-cn.git
[submodule "mengjian-homepage"]
	path = mengjian-homepage
	url = https://github.com/mengjian-github/homepage.git
[submodule "personal-ip"]
	path = personal-ip
	url = https://github.com/mengjian-github/personal-ip.git
[submodule "study-notes"]
	path = study-notes
	url = https://github.com/mengjian-github/study-notes.git
[submodule "wechat-mp"]
	path = wechat-mp
	url = https://github.com/mengjian-github/wechat-mp.git
[submodule "diary"]
	path = diary
	url = https://github.com/mengjian-github/diary.git
[submodule "deepseek-newsletter"]
	path = deepseek-newsletter
	url = https://github.com/mengjian-github/deepseek-newsletter.git
[submodule "wechat-daily-report"]
	path = wechat-daily-report
	url = https://github.com/mengjian-github/wechat-daily-report.git
[submodule "ai-daily-generator"]
	path = ai-daily-generator
	url = https://github.com/mengjian-github/ai-daily-generator.git
[submodule "wechat-mp-assistant"]
	path = wechat-mp-assistant
	url = https://github.com/mengjian-github/wechat-mp-assistant.git
[submodule "300-micro-habits"]
	path = 300-micro-habits
	url = https://github.com/mengjian-github/300-micro-habits.git
[submodule "ziliu"]
	path = ziliu
	url = https://github.com/mengjian-github/ziliu.git
